body, #spiel, canvas {
	margin:0;
	padding:0;
}
canvas.versteckt {
	display: none;
}
#spiel {
	text-align: center;
	padding:0;
}
button {
	font-size: 2em;
	width: 10em;
	height: 2em;
	display: block;
	margin: 5px auto;
}
footer {
	font-size: .87654321em;
	font-family: 'Courier New', Courier, monospace;
	font-weight: bolder;
	text-align: center;
}
.hide {
	display: none;
	visibility: hidden;
}